:root {
    --header: #98C9A3;
    --navico: #393E41;
    --bg: #badfc2;
    --contrast: #C3681D;
    --warning: #ec4e20;
    --black: #444545;


}
body > * {
  transition: filter linear;
}
body, html {
    height:100%;
}
*, :after, :before{
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
    margin:0;
}
a{
    text-decoration: none;
    color: var(--header)
}
a:hover{
    text-decoration: none;
    color: var(--contrast);
}
h1{
    font-weight: normal;
    font-size: 2.0rem;
    padding-bottom: 1rem;
    color: var(--contrast);
    letter-spacing: 1px;
}
h2{
    font-weight: normal;
    color: var(--contrast);
    letter-spacing: 1px;
}
html{
    overflow: hidden;
}
body {
    margin:0;
    padding: 0;
    display: block;
    font-family: Roboto, Ubuntu, Sans, sans-serif;
    font-size: 14px;
    color: var(--black);
    background-color: var(--bg);
    line-height: 1.5;
    text-align: left;
    height: 100%;
}
.body-wrapper{
    display: flex;
    height: 100%;
    overflow: hidden;
}
.navbar-wra{
    background-color: var(--header);
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.logo-wrapper{
    display: flex;
    padding: 15px;
    padding-bottom: 7px;
    justify-content: space-between;
}
.logo>img{
    width: 100%;
    max-height: 75px;
    max-width: 575px;
}
.logo{
    width: 60%;
}
.oh-div{
    width: 30%;
}
.oh-div>img{
    max-height: 75px;
    max-width: 360px;
    width: 100%;
}
.oh{
    font-size: 1rem;
    font-weight: bold;
    color: var(--navico);
}
.oh-text{
    color: var(--contrast)
}
.main-nav-wrapper{
    padding: 0 5px 1rem 5px;
}
.main-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.mnav-li{
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    letter-spacing: 1px;
    color: var(--navico);
    font-weight: bold;
    display: block;
    position: relative;
}
.li-active{
    color: var(--contrast);
}
.mnav-span{
    font-size: 1.2rem;
}
.mnav-li-hover{
    background-color: var(--bg);
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    color: var(--contrast);
    border-radius: 7px;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
div.sidebar{
    width: 20%;
    max-width: 200px;
}
ul.sidebar{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
}
ul.sidebar>li{
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
    letter-spacing: 1px;
    color: var(--black);
    font-weight: bold;
    background-color: var(--header);
    border-radius: 7px;
}
ul.sidebar>a>li{
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
    letter-spacing: 1px;
    color: var(--black);
    font-weight: bold;
    background-color: var(--header);
    border-radius: 7px;
}
.sidebar-li:hover{
    cursor: pointer;
    color: var(--contrast);
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.sidebar-li:hover>ul>li{
    color: var(--black)
}
.content{
    width: 100%;
    overflow-y: scroll;
    padding: 12px;
}
.content-wrapper{
    padding: 2rem;
}
#schutzabgabevertrag_p1{
    margin-bottom: 10px;
}
.imgsav{
    width: 100%;
    max-width: 595px;
}
.subnav{
    z-index: 9999;
    display: block;
    position: absolute;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    background-color: var(--bg);
    margin-top: 12px;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.7);
}
.subnav-li{
    margin-top: 10px;
    background-color: var(--header);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid var(--black);
    color: var(--navico);
}
.subnav-li:hover{
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    background-color: var(--bg);
    color: var(--contrast);
}
.hover-space{
    position: relative;
    display: block;
    width: 100%;
    height: 12px;
    top: -20px;
}
.fa-caret-up{
    position: absolute;
    top: -17px;
    left: 20px;
    font-size: 30px;
    color: var(--bg);
}
.dog_add{
    width: 45%;
    padding: 5px;
}
.hint_div{
    font-size: 0.75rem;
    width: 100%;
    color: var(--navico);
}
.hint{
    margin-left: 5pxs;
}
.video_link{
    display: flex;
}
.video_link >i{
    font-size: 35px;
    margin-right: 5px;
}
.dog-table-div{
    width: 100%;
    margin-bottom: 12px;
    box-shadow: 3px 1px 10px Rgba(0,0,0,0.6);
    padding: 8px;
    display: flex;
    height: 310px;
}
.dog_tbl{
    width: 55%;
    border-collapse: unset;
    height: 300px;
    overflow-y: auto;
    display: block;
    overflow-x: hidden;
}
.dog_pics_div{
    display: flex;
    flex-wrap: wrap;
}
.col_f{
    font-weight: bold;
    width: 115px;
}
.border_tbl{
    border-bottom: 1.2px solid var(--navico);
}
tbody{
    width: 100%;
    display: table;
}
td{
    padding: 2px;
    vertical-align: top;
}
.emergency{
    margin-left: 10px;
    color: var(--warning);
}
.dog_pic{
    margin-bottom: 10px;
    margin-right: 5px;
    display: block;
    max-width: 100%;
    cursor: pointer;
    max-height: 130px;
}
.dog_pics_div_big{
    width: 100%;
}
.dog_pics_div_big > img{
    margin-bottom: 15px;
    max-width: 90%;
    max-height: 400px;
}
.video-overlay{
    display: block;
    left: 0;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 99999999999999999999;
}
.video-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}
iframe{
    width: 450px;
    height: 250px;
    margin-bottom: 15px;
}
.mobile-nav{
    position: absolute;
    top: 70px;
    left: 160px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    width: 320px;
}
.mnav-span-mobile{
    font-size: 0.8rem !important;
}
.mnav-li-mobile{
    padding: 4px 5px 4px 10px !important;
}
.subnav-li-mobile{
    margin-top: 3px !important;
    padding: 1px 1px 1px 5px !important;
}
.subnav-mobile{
    width: 65%!important;
}
.navbar-wra-mobile-hide{
    opacity: 0;
    display: none;
}
@media (max-width: 960px){
    div.sidebar{
        width: 0;
        display: none;
    }
    .content{
        width: 100%;
    }
    .dog_pic{
    max-height: 100px;
    }
    .btn{
        padding: 0.375rem 0.45rem;
    }
}
@media (max-width: 560px){
    .logo-wrapper{
    display: flex;
    flex-direction: column;
    padding: 15px;
    }
    .logo{
        width: 100%;
    }
    .oh-div{
        margin-top:10px;
        width: 100%;
    }
    .oh{
        font-size: 1rem;
    }
    body{
        overflow-y: scroll;
    }
    .content{
        overflow-y: unset;
    }
    .main-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    }
    .subnav{
        width: 50%;
    }
    .dog_pic{
    max-height: 80px;
    }
    .mnav-li{
    width: 90%;
    padding: 5px 10px 5px 10px;
    letter-spacing: 1px;
    color: var(--navico);
    font-weight: bold;
    background-color: var(--bg);
    border-radius: 7px;
    margin-bottom: 3px;
    display: block;
    position: relative;
}
}

